@* FolderView.razor *@
@using ONIZAnalyzer.Common.Models;
@using Microsoft.AspNetCore.Components

<div class="folder @(Folder.IsOpen ? "open" : "")">
    <div class="folder-header" @onclick="ToggleFolder">
        @Folder.FolderName (@Folder.Items.Count(r => r.IsVisible) items@(Folder.SubFolders.Any() ? $", {Folder.SubFolders.Count} subfolders" : ""))
    </div>

    @if (Folder.IsOpen)
    {
        <div class="folder-content">
            @if (Folder.SubFolders != null)
            {
                @foreach (var subFolder in Folder.SubFolders.Where(f => f.IsVisible))
                {
                    <FolderView Folder="subFolder"
                                OnSelectedItem="OnSelectedItem"
                                SearchTerm="@SearchTerm" />
                }
            }

            @if (Folder.Items != null)
            {
                @foreach (var replay in Folder.Items
                    .Where(r => r.IsVisible && r.Name
                    .Contains(SearchTerm, StringComparison.InvariantCultureIgnoreCase)))
                {
                    <div class="custom-list-item @(replay.IsSelected ? "selected" : "")"
                         @onclick="() => SelectItem(replay.Path)">
                        <div class="custom-list-item-content" title="@replay.Path">
                            @replay.Name
                        </div>
                    </div>
                }
            }
        </div>
    }
</div>

@code {
    [Parameter]
    public CustomFolder Folder { get; set; } = default!;

    [Parameter]
    public EventCallback<string> OnSelectedItem { get; set; }

    [Parameter]
    public string SearchTerm { get; set; } = string.Empty;

    private void ToggleFolder()
    {
        Folder.IsOpen = !Folder.IsOpen;
        StateHasChanged();
    }

    private void SelectItem(string fullPath)
    {
        OnSelectedItem.InvokeAsync(fullPath);
    }
}