@page "/home"
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Sections
@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime
@inject HttpClient Client
@inject NavigationManager Navigation
@layout CommonLayout
@inherits ONIZPage

<div class="button-row" style="display: flex; gap: 10px;">
	<button class="analyze-button"
			@onclick="AnalyzeReplay"
			disabled="@(string.IsNullOrEmpty(SelectedReplayPath) || Analyzing)">
		@if (Analyzing)
		{
			<span>Analyzing...</span>
		}
		else
		{
			<span>Analyze</span>
		}
	</button>

	<button class="analyze-button"
			@onclick="MassAnalyzeTwoWayConnection"
			disabled="@(Analyzing)">
		@if (Analyzing)
		{
			<span>Mass Analyzing...</span>
		}
		else
		{
			<span>Mass Analyze</span>
		}
	</button>
</div>

<div class="analysis-textbox-container">
	<div id="analysisTextbox" class="analysis-textbox">
		@if (string.IsNullOrEmpty(AnalysisResult))
		{
			<div>Select a replay and click Analyze to see results...</div>
		}
		else if (Analyzing)
		{
			<div class="dot-animation">Analyzing @MassAnalyzedReplays/@TotalItemsCount</div>

			@if (AverageTimeLeftForMassAnalyze.Ticks is not 0)
			{
				<span>ETA: @(@$"{AverageTimeLeftForMassAnalyze:hh\:mm\:ss\.fff}")</span>
			}
		}
		else
		{
			@((MarkupString)AnalysisResult)
		}
	</div>
</div>

<SectionContent SectionId="CommonLayout.FolderSection">
	<FolderViewTree Folders="Folders"
					ErrorMessage="@ErrorMessage"
					LoadingMessage="Loading replays..."
					NoDataMessage="No replays found"
					OnSelectedItem="SelectReplay"
					SearchTerm="@SearchTerm" />
</SectionContent>

<SectionContent SectionId="CommonLayout.SearchSection">
	<ItemSearch
		        SearchTerm="@SearchTerm"
		        OnSearch="UpdateVisibility"
				SearchTermChanged="UpdateSearch"
				OnClear="ClearSearch">
	</ItemSearch>
</SectionContent>

